body {
    font-family: "Lato", sans-serif;
}

.header-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.header-wrapper header {
    flex: 1;
    text-align: center; /* Εξασφαλίζει το κεντράρισμα του κειμένου */
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    transition: margin-left 0.5s;
    padding: 16px;
    margin-left: 220px; /* Ensures content does not hide behind sidebar */
}

.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #111;
    color: white;
    z-index: 2;
    position: fixed;
    top: 10px;
    left: 10px;
}

.fixed-buttons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
